body {
    margin: 0;
    font-family: Nunito Sans, Arial, sans-serif;
}

body * {
    box-sizing: border-box;
}
.container {
    max-width: 1437.88px;
    margin: 0 auto;
}


.button {
    background: #e38873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    /* italic */
}

.logo {
    color: #e38873;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}

.hero {
    background-image: url(../images/hero.png);
    background-size: cover;
    height: 707px;
    padding-top: 194px; 
    position: relative;   
}
.hero-overlay{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
}
.hero-container{
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}